<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="XmDb" connectionString="Data Source=SVRDB3\SQLEXPRESS;Initial Catalog=XmDb;UID=sa;PASSWORD=1111;Min Pool Size = 0;Max Pool Size=200" providerName="System.Data.SqlClient" />
		<!--<add name="XmDb" connectionString="Data Source=SVRDB3\SQLEXPRESS;Initial Catalog=XmDb;UID=sa;PASSWORD=1111;Min Pool Size = 0;Max Pool Size=200" providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro.IconPacks.Core" publicKeyToken="0c0d510f9915137a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro.IconPacks.Material" publicKeyToken="0c0d510f9915137a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro.IconPacks.Modern" publicKeyToken="0c0d510f9915137a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>